* {
  font-family: "Source Sans Pro";
}

body {
  color: #111111;
  background-color: #FFFFFF;
  font-size: 1.2em;
}
.time {
  font-style: italic;
  font-weight: 300;
  color: #AAAAAA;
  font-size: 0.8em;
}
.name {
  font-weight: 600;
  color: #001f3f;
}

input[type=text] {
  padding: 0.5em;
  font-size: 0.8em;

}

textarea {
  padding: 0.25em;
  font-size: 1em;
  margin-bottom: 1em;
  margin-top: 1em;
  border-radius: 0.25em;
  width: 22em;
  height: 6em;
}

input[type=submit] {
  padding: 0.5em;
  font-size: 1em;
  background-color:#0074D9;
  color: white;
  border: none;
  border-radius: 0.25em;
  width: 12em;
  margin-bottom: 1em;
}

.messages {
  margin-bottom: 1em;

}
